@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #DDD;
    color: #000;
    line-height: 1.34;
    font-weight: 300;
    font-size: 1em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1000px;
    background-color: #FFF;
    overflow: hidden;
}

.greybg {
    background-color: #EEE;
}

/* MARGIN ZERO */
.wrapper,
nav,
main {
    margin: 0 auto;
}


/* NAVIGATION */
#burger {
    font-size: 250%;
    cursor: pointer;
    display: none;
}

nav,
.menu {
    display: flex;
}

nav {
    width: 100%;
    max-width: 1000px;
    position: fixed;
    z-index: 10;
    top: 0;
}

.menu {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    min-height: 3.75em;
    list-style-position: inside;
    list-style-type: none;
}

.menu img {
    width: 149px;
}

.menu>li {
    min-width: 3.33em;
    margin: 0 1em;
}

.menu>li:last-child {
    margin-left: auto;
    width: auto;
}

.menu>li a {
    font-family: 'Roboto', sans-serif;
    font-size: 87.5%;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.menu>li a.active,
.menu>li a:hover {
    color: #E30613;
    font-weight: 700;
}

/* FOOTER */
footer {
    height: 13.5625em;
    background-color: #000;
    padding: 0.5em 0;
    margin-top: 5.5em;
}

footer p {
    margin-bottom: 1.5em;
    font-size: 125%;
    text-align: center;
    color: #FFF;
}

/************ MEDIA QUERIES **********/
@media only screen and (max-width:870px) {    
        

    /* NAVIGATION MENU */
    nav {
        padding: 0.2em;
        flex-direction: column;
    }

    #burger {
        margin-left: 0.2em;
        display: block;
        color: #000;
    }

    .menu {
        display: none;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        padding: 0;
        margin-top: 0;
    }

    .menu>li {
        padding: 0;
        margin: 1.4em 0;
    }

    .menu>li:last-child {
        margin-left: 0;
    }

    .menu>li a {
        font-size: 1.8em;
    }

    .menu>li img {
        width: 220px;
    }

    footer {
        height: auto;
    }

    footer p {
        text-align: center;
        font-size: 90%;
        padding: 1em 3em;
    }
}