/* articles */

.article {
    display: flex;
    padding-top: 3.75em;
}

.article__intro,
.article__content {
    margin: 0 auto;
}

.article__intro {
    background-color: #FFF;
    width: 50em;
    top: -5em;
    margin-bottom: -5em;
    position: relative;
}

.article h1 {
    font-size: 350%;
    margin-top: 0.3em;
    font-weight: 700;
}

.article h2 {
    font-size: 162.5%;
}

.article h1,
.article h2,
.article h4 {
    padding: 0 1em;
    text-align: center;
}

.article h4 {
    color: #E30613;
    font-size: 112.5%;
    padding-top: 1em;
}

.article .article__author,
.article .article__datetime {
    font-size: 75%;
    text-align: left;
    padding-left: 0;
    text-transform: uppercase;
}

.article__datetime {
    color: #66665F;
}

.article__datetime,
.article h2 {
    font-weight: 400;
}

.article__content {
    width: 30em;
    padding: 2em 0;
}

.article__content h3 {
    font-weight: 700;
    font-size: 125%;
    border-bottom: none;
    color: #000;
}

.article__content p {
    font-size: 1.125em;
    margin: 0.5em 0 1em;
}


/* GALLERY SLIDER + GOOGLE MAP - FÆLLES */

.grid,
.grid__sub {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.grid {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}

.grid__sub {
    grid-column: 2/3;
    grid-template-columns: repeat(1, auto);
}

.map,
.slider {
    width: 640px;
    grid-area: 1/1/2/-1;
    overflow: hidden;
}

.grid__caption {
    font-size: 0.625em;
    line-height: 1.6;
    align-self: end;
    width: 14.3em;
}

.grid__caption--right {
    grid-column: 3/4;
}

.grid__caption--left {
    grid-column: 1/2;
    grid-row: 1;
}

.slider__slide {
    display: none;
    width: 100%;
}

.slider__slide--active {
    display: block;
    position: relative;
}

#next,
#back {
    grid-area: 1/1/2/-1;
    font-size: 2.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #FFF;
    z-index: 10;
}

#next {
    justify-self: end;
}

#back {
    justify-self: start;
}


/* ANIMATION SLIDER */

.left {
    animation-name: slideLeft;
}

@keyframes slideLeft {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.right {
    animation-name: slideRight;
}

@keyframes slideRight {
    0% {
        right: 100%;
    }
    100% {
        right: 0%;
    }
}

.left,
.right {
    animation-duration: 1200ms;
}

@media only screen and (max-width: 870px) {
    .article {
        padding-top: 3.75em;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        gap: 1em;
        width: 100%;
        overflow: hidden;
    }
    .article__intro,
    .article__content,
    .grid,
    .grid__sub {
        width: 100%;
        justify-content: center;
        grid-column: 1/3;
    }
    .article__intro {
        width: 100%;
    }
    .article h1 {
        font-size: 225%;
        margin-bottom: 0.3em;
    }
    .article h1,
    .article h2,
    .article h4 {
        width: 100%;
        text-align: center;
    }
    .article__content {
        padding: 2em;
    }
    .article h2 {
        font-size: 120%;
    }
    .article__author,
    .article__datetime {
        font-size: 90%;
    }
    .grid__sub {
        grid-column: span 3;
    }
    .map,
    .slider {
        max-width: 100%;
    }
    @media only screen and (max-width: 640px) {
        .map {
            max-width: 480px;
        }
    }
    @media only screen and (max-width: 480px) {
        .map {
            max-width: 360px;
        }
    }
    .slider {
        width: 100%;
    }
    .grid__caption--left,
    .grid__caption--right {
        grid-column: 1/4;
        width: 100%;
        text-align: center;
        justify-self: center;
        padding: 0;
        max-width: 480px;
        grid-row: 2;
    }
}