/* ABONNEMENTSIDER */

.abonnement {
    flex-direction: column;
    width: 50em;
    max-width: 870px;
    padding-top: 4.75em;
}

.abonnement h1 {
    padding: 0 1.34em 0.8em;
    font-size: 350%;
    text-align: center;
}

.abonnementer {
    justify-content: space-between;
}

.card h2,
.card__price,
.offers,
.button {
    text-align: center;
}


/* ALLE KNAPPER + modifiers*/

.button {
    background-color: #E30613;
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
    color: #FFF;
    font-size: 75%;
    font-weight: 700;
    width: 100%;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-color: #A21D1F;
    cursor: pointer;
}

.button--center {
    margin: 0 auto;
}

.button--right {
    align-self: flex-end;
}

.button--form {
    width: 12em;
}

.button--offer {
    width: 15em;
}

.abonnement,
.abonnementer,
.detaljer,
.orderform,
.detaljer__price,
.detaljer__discount,
.detaljer__total,
.checkbox {
    display: flex;
}


/* the grey cards with subscription types */

.card {
    width: 14.25em;
    padding: 2em 0.8em;
}

.card h2 {
    font-size: 112.5%;
    margin: 1.5em 0;
}

.card__list {
    margin: 3em 0 2em;
    min-height: 8em;
    list-style-position: inside;
    list-style-type: none;
}

.card__list>li {
    font-size: 75%;
    margin-bottom: 1em;
}

.card__list>li i {
    margin-right: 0.5em;
}

.card__price {
    font-size: 350%;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 0.5em;
}

.card__terms {
    font-size: 62.5%;
    margin-bottom: 0.5rem;
}

.abonnement h3 {
    font-size: 150%;
    font-weight: 400;
    color: #000;
    border-bottom: none;
    margin: 2em 0 0;
}


/* STUDERENDE TILBUD */

.offers {
    margin-top: 1em;
    padding: 1em;
}

.offers p {
    font-size: 75%;
    margin: 0 0 1em;
}


/* VALGT ABONNEMENT DETALJER */

.form-content {
    display: grid;
    gap: 0.8125em;
    width: 33.54em;
    padding: 4em 2em 3em;
    align-items: center;
}

.orderform__label {
    text-align: right;
}

.orderform__input {
    padding: 0.3em 0.5em;
    outline: none;
    border: none;
}

i.fa-asterisk {
    margin: 0 1.5em 0 0.5625em;
    font-size: 0.625em;
    vertical-align: middle;
    color: rgb(160, 40, 40);
}

.checkbox__label {
    grid-column: 1;
    font-size: 12px;
    width: 100%;
}

.checkbox__label i.fa-asterisk {
    margin-left: 0;
    margin-right: 0.3em;
}

.checkbox__input {
    margin-top: 0.1em;
    margin-right: 0.7em;
}

.checkbox {
    grid-column: 2;
}


/* GRÅ DETALJEBOKS - VALGT ABONNEMENT */

.detaljer {
    margin-left: 2em;
    width: 14.28em;
    flex-direction: column;
    justify-content: space-between;
}

.detaljer__content {
    padding: 1em 1em 2em 1em;
}

.detaljer h2 {
    text-align: left;
    font-size: 112.5%;
    margin-bottom: 1em;
}

.detaljer__text,
.detaljer__price,
.detaljer__discount,
.detaljer__total {
    border-bottom: 2px solid #66665F;
    padding-top: 0.5rem;
}

.detaljer__text,
.detaljer__terms {
    font-size: 62.5%;
}

.detaljer__text {
    padding-bottom: 2em;
}

.detaljer__price,
.detaljer__discount,
.detaljer__total {
    font-size: 75%;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.detaljer__terms {
    padding-top: 1em;
}

.detaljer__total {
    font-weight: 700;
}


/* fejlbeskeder */

.accept_error,
.fname_error,
.ename_error,
.phone_error,
.email_error,
.emailconf_error,
.password_error,
.passwordconf_error,
.address_error {
    font-size: 0.85em;
    grid-column: 2;
    margin-top: 0;
    color: rgb(160, 40, 40);
}

.accept_error,
.fname_error,
.ename_error,
.phone_error,
.email_error,
.emailconf_error,
.password_error,
.passwordconf_error,
.address_error {
    display: none;
}

@media only screen and (max-width: 870px) {
    .abonnement {
        width: 100%;
        padding: 5em 2em 2em 2em;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        gap: 1em;
        width: 100%;
        overflow: hidden;
    }
    .abonnementer,
    .card,
    .offers,
    .orderform {
        flex-direction: column;
    }
    .form-content,
    .detaljer,
    .card__list,
    .card,
    .offers,
    .orderform,
    .detaljer {
        width: 100%;
    }
    .detaljer h2 {
        font-size: 150%;
    }
    .detaljer__text,
    .detaljer__price,
    .detaljer__discount,
    .detaljer__total {
        font-size: 110%;
    }
    .offers p {
        text-align: center;
    }
    .card h2 {
        font-size: 180%;
    }
    .card__list {
        margin: 3em auto 2em;
    }
    .card__list>li {
        font-size: 1.6em;
    }
    .card__terms {
        font-size: 100%;
    }
    .card,
    .offers {
        margin: 1em 0;
        padding: 2em 10%;
    }
    .offers p {
        font-size: 130%;
    }
    .orderform {
        margin-left: 0;
        flex-wrap: wrap;
    }
    .orderform p {
        justify-self: end;
    }
    .orderform,
    .detaljer {
        margin: 1em 0;
    }
    .checkbox {
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 1em;
        grid-column: span 2;
    }
    .checkbox__input {
        width: 16px;
        align-self: center;
    }
    .checkbox__label {
        font-size: 100%;
        text-align: left;
    }
    .orderform__input {
        width: 100%;
        padding: 0.7em;
        border-radius: 7px
    }
    .orderform__label,
    .orderform__input,
    .checkbox__input {
        grid-column: span 2;
        font-size: 110%;
        text-align: left;
    }
    .button,
    .button--form,
    .button--offer {
        width: 100%;
        margin: 0 auto;
        font-size: 130%;
        font-weight: 400;
        padding: 0.6em 0;
    }
    .button--right {
        margin: 1em auto;
    }
}