@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    color: #999;
    font-size: 125%;
    line-height: 150%;
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

header #hero {
    position: relative;
}

header #logo {
    width: 35%;
    top: 6em;
    left: 5em;
    position: absolute;
    max-width: 320px;
    z-index: 2;
}

#wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    padding: 2em 5em;
}

h1,
h2 {
    font-size: 2em;
    line-height: 1em;
}

h1,
#teams .content h2 {
    color: #E5E5E5;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
p,
ul#quotes li {
    margin-bottom: 1em;
}

h1,
h2,
ul#quotes li span {
    color: #E5E5E5;
    font-weight: 400;
    display: block;
}

footer h4 {
    font-weight: 300;
}

footer h4,
footer p {
    text-align: center;
}

/* styling til navigation */
#burger {
    display: none;
    /* <-- burger skjult normalt */
}

nav {
    position: fixed;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 4em;
    z-index: 10;
}

nav ul {
    padding: 0 5em;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    flex-grow: 3;
}

nav ul li:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    color: #e5e5e5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

nav ul li:last-child i {
    font-size: 125%;
    margin-left: 1em;
}

nav ul li a:hover {
    border-bottom: 4px solid #6C0C0E;
    color: #FFFFFF;
}

nav ul li:last-child,
nav ul li:last-child a:hover {
    border-bottom: 0;
}

footer {
    padding: 6em 0;
}

/* styling specifikt til forside */
/* liste i toppen af sidens indhold */
.content,
ul#quotes {
    display: flex;

}

ul#quotes,
.content {
    margin-bottom: 3em;
}

ul#quotes {
    flex-direction: column;
    list-style: none;
    list-style-position: inside;
}

.content div:first-child {
    padding-right: 2em;
}

.content div:last-child {
    padding-left: 2em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* - for 16:9 video*/
    /*padding-bottom: 75%;*/
    /* - for 4:3 video*/
    padding-top: 35px;
    height: 0;
    z-index: 1;
    overflow: hidden;
    margin-top: 3em;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#contact .content div:first-child,
#teams .content div:last-child {
    flex: 5;
}

#contact .content div:last-child,
#teams .content div:first-child {
    flex: 7;
}

/* styling til gallerisiden */
#gallery .content {
    flex-direction: column;
}

#gallery_grid_container {
    display: grid;
    grid-template: repeat(2, auto) / repeat(5, 1fr);
    gap: 1em;
}

#gallery_grid_container figure {
    grid-area: 2/1/3/-1;
    position: relative;
}

#gallery_grid_container figure figcaption {
    position: absolute;
    left: 1em;
    bottom: 1em;
}

#gallery_grid_container img {
    padding: 1px;
    border: 1px solid #eee;
}

#gallery_grid_container .img_border,
#gallery_grid_container .small-img:hover {
    border: 2px solid #fff;
    padding: 0px;
}

/* styling til teams-sidens opsætning articles med 
overskrift, tekst, billede og tabel */
#teams .content div:first-child {
    padding-right: 0;
}

#teams .content div:last-child {
    padding-left: 6em;
}

#teams .content table tr th {
    color: #e5e5e5;
    width: 40%;
}

#teams .content table tr th,
.content table tr td {
    text-align: left;
    line-height: 2.3em;
    font-weight: 400;
}

#teams .content h3 {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

/* CONTACT PAGE */
#contact .content div:first-child {
    padding-right: 0;
}

#contact .content div:last-child {
    padding-left: 6em;
}

#contact form {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat(5, auto);
    gap: 1em;
}

#contact label {
    grid-column: 1/2;
    color: #999;
}

#contact textarea {
    min-height: 8em;
}

#contact input,
#contact textarea {
    grid-column: 2/3;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 3px;
    padding: 0.3em;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
}

#contact .submit-btn {
    padding: 0.5em 3em;
    border-radius: 3em;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

#contact .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}


/************ MEDIA QUERIES ***************/
@media only screen and (max-width:768px) {

    /* TYPOGRAPHY */
    p {
        font-size: 120%;
    }

    h1,
    h2 {
        margin-bottom: 0.5em;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 120%;
    }

    h3 {
        font-size: 105%;
        margin-top: 1.5em;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    li {
        line-height: 1.5em;
    }

    p,
    li,
    h4 {
        font-size: 90%;
    }

    /* HEADER */
    header {
        background: none;
    }

    .header-img {
        padding-top: 1em;
    }

    img#logo {
        width: 20%;
        left: 1em;
        top: 3.5em;
    }

    /* HERO IMAGE */
    #hero {
        padding-top: 3em;
    }

    /* NAVIGATION MOBILE */
    #burger {
        display: flex;
        justify-content: end;
        /* <-- burger skjult normalt */
        cursor: pointer;
    }
    #burger i{
        font-size: 1.8em;
        margin-right: 0.2em;
    }
    nav {
        padding: 0.2em;
        background-color: rgba(0, 0, 0, 1);
    }

    nav ul {
        display: none;
        /* <-- menu skjult for mobiler */
        flex-direction: column;
        margin: 0;
        padding: 8em 3em;
        min-height: 100vh;
        justify-content: space-around;
    }
    
    nav ul li {
        padding: 0.2em 0;
        font-size: 1.2em;
        text-align: center;
        flex-grow: unset;
    }

    nav ul li:last-child {
        margin: 0;
        justify-content: space-around;
    }

    nav ul li a:hover {
        border-bottom: 0;
    }

    nav ul li:last-child a {
        text-align: left;
    }

    nav ul li:last-child i {
        margin-left: 0;
    }

    /* ALL PAGES MOBILE */
    main,
    footer {
        padding: 1.4em;
    }

    .content,
    .content div {
        flex-direction: column;
    }

    .content {
        padding-top: 0;
        margin-bottom: 2em;
    }

    #teams .content {
        margin-bottom: 0;
    }

    #teams .content div,
    #contact .content div {
        margin-bottom: 2em;
    }

    .content div:last-child,
    .content div:first-child,
    #teams .content div:last-child,
    #teams .content div:first-child,
    #contact .content div:last-child,
    #contact .content div:first-child {
        padding: 0;
    }

    ul#quotes {
        padding-top: 1em;
    }

    /* TEAMS */
    #teams .content div:last-child {
        order: 1;
    }

    #teams .content div:first-child {
        order: 2;
    }

    #teams .content div table tr th,
    #teams .content div table tr td {
        font-size: 0.65em;
    }

    /* GALLERY */
    #gallery_grid_container {
        display: grid;
        grid-template: repeat(5, auto) / repeat(1, 1fr);
        gap: 1em;
    }

    #gallery_grid_container figure {
        display: none;
    }

    #gallery_grid_container .img_border {
        border: none;
    }

    /* CONTACT */
    #contact .content form {
        gap: 0.7em;
    }

    #contact .content form label,
    #contact .content form input,
    #contact .content form textarea,
    #contact .content form #errormessage{
        grid-column: 1/3;
    }

    #contact .content form input.submit-btn {
        grid-column: 2/3;
    }
}